<h1>Veuillez confirmer votre e-mail</h1>

<p>
    Veuillez confirmer votre e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>.
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très vite au Bistrot Symfony !
</p>
