<footer>
<div class="blocfooter">
    <div class="info">
        <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
    </div>

    <div class="info">
    <a href="{{ path ('app_map') }}"><p>Le Bistrot Symfony</p>
        <p>5, rue Angéline, 75011 Paris</p>
        <p>01 64 90 26 59</p></a>
    </div>

    <div class="info"> <a href="#">Nous contacter</a> </div>

</div>
</footer>
