{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Réservation-Admin{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Réservation-Admin</h1>

    {{ include('admin_reservation/_form.html.twig') }}
    
    {# <button class="btn">{{ button_label|default('Enregistrer') }}</button> #}
{% endblock %}
