{% extends 'base.html.twig' %}

{% block title %}Editer le plat du jour{% endblock %}

{% block body %}
    <h1>Editer le plat du jour</h1>

    {{ include('plat_jour/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_plat_jour_index') }}"><img src="{{ asset('images/retour_icon.png') }}" alt="Retour à la liste" class="icon"></a>

    {{ include('plat_jour/_delete_form.html.twig') }}
{% endblock %}
